@model ProgramInfo[]
@{
    ViewData["Title"] = "Files";
}

<div>
    <h1 class="display-5">Программы:</h1>


    <table width="95%">
        <tr height="50">
            <td width="20%">Имя программы</td>
            <td width="15%">Актуальная версия</td>
            <td width="25%">Старые версии</td>
            <td width="25%">Скачать последнюю версию</td>        
            @if (@User?.Identity?.IsAuthenticated == true)
            {
                <td width="20%">Удалить программу</td>
            }
        </tr>

        @foreach (ProgramInfo programInforms in Model)
        {
            <tr height="50">
                <td>@programInforms.Program</td>
                <td>@programInforms.Version</td>
                <td>
                    <a asp-area="" class="text-start" asp-controller="Programs" asp-action="Versions" asp-route-program=@programInforms.Program>Скачать</a>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" style="background: rgb(0,0,255);"
                            type="button" onclick="location.href='@Url.Action("GetInstallFile", "Version",  new { program = @programInforms.Program, version = @programInforms.Version })'">
                        Скачать
                    </button>
                </td>     
                @if (@User?.Identity?.IsAuthenticated == true)
                {
                    <td>
                        <button class="btn btn-primary" type="submit" style="background: rgb(0,0,255);"
                                type="button" onclick="location.href='@Url.Action("DeleteProgram", "Programs",  new { program = @programInforms.Program})'">
                            Удалить
                        </button>
                    </td>
                }

            </tr>
            <div> </div>
        }
    </table>

@*     @foreach (string program in Model)
    {
        <a asp-area="" class="display-6" class="text-start" asp-controller="Programs" asp-action="Index" asp-route-program=@program>@program</a>
    } *@
</div>
